[
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:manager.displayName",
"attributeName":"displayName",
"dataType":"string",
"multiValued":"false",
"description":"The displayName of the User's manager.",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:manager.$ref",
"attributeName":"$ref",
"dataType":"reference",
"multiValued":"false",
"description":"The URI of the SCIM resource representing the User's manager.",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:manager.value",
"attributeName":"value",
"dataType":"string",
"multiValued":"false",
"description":"The id of the SCIM resource representing the User's manager.",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:manager",
"attributeName":"manager",
"dataType":"complex",
"multiValued":"false",
"description":"The User's manager. A complex type that optionally allows service providers to represent organizational hierarchy by referencing the 'id' attribute of another User.",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"value $ref displayName",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:department",
"attributeName":"department",
"dataType":"string",
"multiValued":"false",
"description":"Identifies the name of a department",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:division",
"attributeName":"division",
"dataType":"string",
"multiValued":"false",
"description":"Identifies the name of a division.",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:organization",
"attributeName":"organization",
"dataType":"string",
"multiValued":"false",
"description":"Identifies the name of an organization.",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:costCenter",
"attributeName":"costCenter",
"dataType":"string",
"multiValued":"false",
"description":"Identifies the name of a cost center.",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:employeeNumber",
"attributeName":"employeeNumber",
"dataType":"string",
"multiValued":"false",
"description":"Numeric or alphanumeric identifier assigned to a person, typically based on order of hire or association with a organization.",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:askPassword",
"attributeName":"askPassword",
"dataType":"boolean",
"multiValued":"false",
"description":"Enable password change required notification in the user creation.",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:verifyEmail",
"attributeName":"verifyEmail",
"dataType":"boolean",
"multiValued":"false",
"description":"Enable email confirmation notification in the user creation.",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:pendingEmails.value",
"attributeName":"value",
"dataType":"string",
"multiValued":"false",
"description":"Store email to be updated as a temporary claim till email verification happens.",
"required":"false",
"caseExact":"false",
"mutability":"readOnly",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:pendingEmails",
"attributeName":"pendingEmails",
"dataType":"complex",
"multiValued":"true",
"description":"The User's email addresses. A complex type that represents verification pending email addresses of the user.",
"required":"false",
"caseExact":"false",
"mutability":"readOnly",
"returned":"default",
"uniqueness":"none",
"subAttributes":"value",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:accountLocked",
"attributeName":"accountLocked",
"dataType":"boolean",
"multiValued":"false",
"description":"Account Locked",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:accountState",
"attributeName":"accountState",
"dataType":"string",
"multiValued":"false",
"description":"Account state",
"required":"false",
"caseExact":"false",
"mutability":"readOnly",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:emailOTPDisabled",
"attributeName":"emailOTPDisabled",
"dataType":"boolean",
"multiValued":"false",
"description":"Store whether email OTP is enabled or disabled",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:emailVerified",
"attributeName":"emailVerified",
"dataType":"boolean",
"multiValued":"false",
"description":"True if the End-User's e-mail address has been verified; otherwise false",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:failedEmailOTPAttempts",
"attributeName":"failedEmailOTPAttempts",
"dataType":"integer",
"multiValued":"false",
"description":"Number of failed email OTP attempts",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:failedLoginAttempts",
"attributeName":"failedLoginAttempts",
"dataType":"integer",
"multiValued":"false",
"description":"Number of failed login attempts",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:failedLoginAttemptsBeforeSuccess",
"attributeName":"failedLoginAttemptsBeforeSuccess",
"dataType":"integer",
"multiValued":"false",
"description":"Number of failed attempts before a success login",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:failedLoginLockoutCount",
"attributeName":"failedLoginLockoutCount",
"dataType":"integer",
"multiValued":"false",
"description":"Failed lockout count",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:failedPasswordRecoveryAttempts",
"attributeName":"failedPasswordRecoveryAttempts",
"dataType":"integer",
"multiValued":"false",
"description":"Number of consecutive failed attempts done for password recovery",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:failedSMSOTPAttempts",
"attributeName":"failedSMSOTPAttempts",
"dataType":"integer",
"multiValued":"false",
"description":"Number of failed SMS OTP attempts",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:failedTOTPAttempts",
"attributeName":"failedTOTPAttempts",
"dataType":"integer",
"multiValued":"false",
"description":"Number of failed TOTP attempts",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:isLiteUser",
"attributeName":"isLiteUser",
"dataType":"boolean",
"multiValued":"false",
"description":"Store whether the account is a lite user account",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:lastLoginTime",
"attributeName":"lastLoginTime",
"dataType":"string",
"multiValued":"false",
"description":"Last login time",
"required":"false",
"caseExact":"false",
"mutability":"readOnly",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:lastLogonTime",
"attributeName":"lastLogonTime",
"dataType":"string",
"multiValued":"false",
"description":"Last logon time",
"required":"false",
"caseExact":"false",
"mutability":"readOnly",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:lastPasswordUpdateTime",
"attributeName":"lastPasswordUpdateTime",
"dataType":"string",
"multiValued":"false",
"description":"Last password update time",
"required":"false",
"caseExact":"false",
"mutability":"readOnly",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:lockedReason",
"attributeName":"lockedReason",
"dataType":"string",
"multiValued":"false",
"description":"The reason why the user account is locked",
"required":"false",
"caseExact":"false",
"mutability":"readOnly",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:phoneVerified",
"attributeName":"phoneVerified",
"dataType":"boolean",
"multiValued":"false",
"description":"True if the End-User's phone number has been verified; otherwise false",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:preferredChannel",
"attributeName":"preferredChannel",
"dataType":"string",
"multiValued":"false",
"description":"Preferred Notification Channel",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:smsOTPDisabled",
"attributeName":"smsOTPDisabled",
"dataType":"boolean",
"multiValued":"false",
"description":"Store whether SMS OTP is enabled or disabled",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:tenantAdminAskPassword",
"attributeName":"tenantAdminAskPassword",
"dataType":"boolean",
"multiValued":"false",
"description":"Temporary claim to invoke email tenant admin ask Password feature",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:unlockTime",
"attributeName":"unlockTime",
"dataType":"string",
"multiValued":"false",
"description":"Unlock time",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:accountDisabled",
"attributeName":"accountDisabled",
"dataType":"boolean",
"multiValued":"false",
"description":"Store whether the user account is disabled or not",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:dateOfBirth",
"attributeName":"dateOfBirth",
"dataType":"string",
"multiValued":"false",
"description":"Date of birth",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:isReadOnlyUser",
"attributeName":"isReadOnlyUser",
"dataType":"boolean",
"multiValued":"false",
"description":"States whether the user is in a read only user store or not",
"required":"false",
"caseExact":"false",
"mutability":"readOnly",
"returned":"request",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:pendingMobileNumber",
"attributeName":"pendingMobileNumber",
"dataType":"string",
"multiValued":"false",
"description":"Store user's mobile number to be updated as a temporary claim until mobile number verification happens.",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:forcePasswordReset",
"attributeName":"forcePasswordReset",
"dataType":"boolean",
"multiValued":"false",
"description":"Temporary claim to invoke forced password reset feature",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:oneTimePassword",
"attributeName":"oneTimePassword",
"dataType":"string",
"multiValued":"false",
"description":"One Time Password",
"required":"false",
"caseExact":"false",
"mutability":"readOnly",
"returned":"request",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:verifyMobile",
"attributeName":"verifyMobile",
"dataType":"boolean",
"multiValued":"false",
"description":"Enable mobile verification during mobile number update.",
"required":"false",
"caseExact":"false",
"mutability":"readwrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:country",
"attributeName":"country",
"dataType":"string",
"multiValued":"false",
"description":"Country",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:userSourceId",
"attributeName":"userSourceId",
"dataType":"string",
"multiValued":"false",
"description":"User Provisioned IDP ID",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:totpEnabled",
"attributeName":"totpEnabled",
"dataType":"string",
"multiValued":"false",
"description":"TOTP Enabled",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:backupCodeEnabled",
"attributeName":"backupCodeEnabled",
"dataType":"string",
"multiValued":"false",
"description":"Backup Code Enabled",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:enabledAuthenticators",
"attributeName":"enabledAuthenticators",
"dataType":"string",
"multiValued":"false",
"description":"Enabled Authenticators",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:failedBackupCodeAttempts",
"attributeName":"failedBackupCodeAttempts",
"dataType":"integer",
"multiValued":"false",
"description":"Number of failed backup code attempts",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"null",
"canonicalValues":[],
"referenceTypes":[]
},
{
"attributeURI":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User",
"attributeName":"urn:ietf:params:scim:schemas:extension:enterprise:2.0:User",
"dataType":"complex",
"multiValued":"false",
"description":"Enterprise User",
"required":"false",
"caseExact":"false",
"mutability":"readWrite",
"returned":"default",
"uniqueness":"none",
"subAttributes":"verifyEmail askPassword employeeNumber costCenter organization division department manager pendingEmails accountLocked accountState emailOTPDisabled emailVerified failedEmailOTPAttempts failedLoginAttempts failedLoginAttemptsBeforeSuccess failedLoginLockoutCount failedPasswordRecoveryAttempts failedSMSOTPAttempts failedTOTPAttempts isLiteUser lastLoginTime lastLogonTime lastPasswordUpdateTime lockedReason phoneVerified preferredChannel smsOTPDisabled tenantAdminAskPassword unlockTime accountDisabled dateOfBirth isReadOnlyUser pendingMobileNumber forcePasswordReset oneTimePassword verifyMobile country userSourceId totpEnabled backupCodeEnabled enabledAuthenticators failedBackupCodeAttempts",
"canonicalValues":[],
"referenceTypes":["external"]
}
]
